<div ng-controller="ConversationsController" class="container-fluid">
    <div class="row">
        <div class="col-md-7 ">
            <span>Мои беседы</span>
            <select class="form-control" ng-model="currentConversationType" ng-change="changeConversationType(conversationType)" ng-options="conversationType as conversationType.Title for conversationType in conversationTypes"></select>
            <div class="icon-addon addon-md">
                <input type="text" placeholder="Навзание беседы" ng-model="conversationTitle" class=" form-control" id="conversationSearch">
                <label for="conversationSearch" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
            </div>
            <div ng-repeat="conversation in conversations | filter:conversationTitle">
                <div class="row" ng-click="changeConversationAndRead(conversation)">
                    <div class="col-md-4">
                        <img class="pull-left" ng-src="{{conversation.ConversationAvatarFilePath}}" width="50" height="50" />
                        <span class="badge">{{conversation.NotReadCount}}</span><a class="btn btn-link" href="/#/Conversations/{{conversation.ConversationId}}"> {{conversation.Name}}</a>
                    </div>
                    <div class="col-md-3">
                        <span>Участников<span class="badge">{{conversation.ConversationUsers.length}}</span></span>
                        <span>Последнее сообщение{{conversation.LastMessageDateWithFormat}}</span><br />
                    </div>
                    <div class="col-md-4">
                        <span>Сейчас играет:</span>
                        <a href="/#/Songs/{{conversation.CurrentSong.SongId}} ">
                            <span>{{conversation.CurrentSong.Artist}} - {{conversation.CurrentSong.Title}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <span>Открытые беседы</span>
            <div class="icon-addon addon-md">
                <input type="text" placeholder="Навзание беседы" ng-model="openConversationTitle" class=" form-control" id="openConversationSearch">
                <label for="openConversationSearch" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
            </div>
            <div ng-repeat="conversation in openConversations | filter:openConversationTitle">
                <div class="row">
                    <div class="col-md-3">
                        <img class="pull-left" ng-click="startConversation(conversation)" ng-src="{{conversation.ConversationAvatarFilePath}}" width="50" height="50" />
                    </div>
                    <div class="col-md-3">
                        {{conversation.Name}}
                    </div>
                    <div class="col-md-4">
                        <span>Сейчас играет:</span>
                        <a href="/#/Songs/{{conversation.CurrentSong.SongId}} ">
                            <span>{{conversation.CurrentSong.Artist}} - {{conversation.CurrentSong.Title}}</span>
                        </a>
                    </div>
                    <div class="col-md-3" ng-show="MyConversation== false">
                        <button class="btn"><span class="glyphicon glyphicon-play-circle">Вступить</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>